.and {
    padding-top: 1em;
    background-color: green;
}

.or {
    padding-top: 1em;
    background-color: yellow;
}

.subExpression {
    padding: 5px;
}

#expressionDiv, #container {
    padding: 5px;
}
